p {
  font-family: "Merriweather", serif;
  font-weight: 500;
  margin-top: 40px;
  font-size: 1.5rem;
}
.p-parent{
  text-align: justify;
}
.text-container-parent{
  display: flex;
  flex-direction: column;
  margin: 5% auto 0;
  height: 400px;
  align-items: center;
}

.text-container {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  height: 100%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carbon-text {
  color: #222831;
  font-size: 2.625rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.buttons {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}


@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    padding-bottom: 10px;
  }
  p {
    text-align: center;
  }
  .carbon-text {
    font-size: 1em;
    transition: all 0.2s ease;
  }
}

.btn {
  box-sizing: border-box;
  background: #303841;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 30px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  border-color: #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #303841 inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 100ms ease-in-out;
  align-items: center;
}
.btn:hover{
  color: #fff;
  outline: 0;
  box-shadow: 0 0 10px 0 #00adb5 inset, 0 0 10px 4px #3498db;
}
