.home-container {
  height: 100vh;
  justify-content: space-between;
  min-height: 670px;
  background-image: url("../Images/bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  min-height: 670px;
}